node_modules
vendor
.git
.gitignore
.env
.env.docker
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/backups/*
bootstrap/cache/*
public/build
public/hot
tests
phpunit.xml
.phpunit.result.cache
.editorconfig
README.md
docker-compose.yml
